@import url('../index.css');

.container-app {
  /* border: 5px solid black; */
  width: 100%;

  display: block;
  margin-inline: auto;

  /* height: 99.5%; */

  color: var(--text);
  background-color: var(--bg);
}

.container-app > * {
  /* border: 5px solid red; */  
  margin-inline: auto;
  margin-block: 0;
}

*::selection {
  color: var(--bg);
  background-color: var(--accent);
}
