:htk {
  --background-light-mode: #dddddd;
  /*rgb(221, 221, 221)*/
  --font-color-light-mode: #222831;
  /*rgb(34, 40, 49)*/
  --acccent-color-light-mode: #30475e;
  /*rgb(48, 71, 94)*/
  --acccent-2-color-light-mode: #f05454;
  /*rgb(240, 84, 84)*/
}

@import url('/src/components/global.css');

.container-about-background {
  height: calc(100vh - 3.5rem);
  width: 100vw;
  /* border: 5px solid black; */
  
  background-image: linear-gradient(120deg, #a6c0fe 0%, #f68084 120%);
  box-shadow: var(--box-shadow);

}

.container-about {
  /* border: 5px solid red; */
  display: block;
  margin-inline: auto;

  height: 100%;
  width: 50vw;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  row-gap: 2rem;

  padding-bottom: 2rem;
}

.container-about h2 {
  font-size: 3rem;
  text-shadow: 1px 1px 2px var(--acccent-color-light-mode);
  color: var(--font-color-light-mode);

  transition: transform 0.4s;
}

.card-about{
  background-color: var(--background-light-mode);
  box-shadow: var(--box-shadow);  
  border-radius: 0.5rem;
  padding: 1rem;
}

.container-about p {
  margin-block: 1.5rem;
  font-size: 1.5rem;
  font-weight: 500;
  text-align: justify;
}
.container-about span {
  text-decoration: underline;
}

@media (max-width: 1300px) {
  .container-about-background,
  .container-about {
    height: min(max-content, calc(100vh - 3.5rem));
    padding-block: 2rem;
  }
}

@media (max-width: 1200px) {
  .container-about {
    height: 100%;
    width: 80vw;
  }
}

@media (max-width: 700px) {
  .container-about-background,
  .container-about {
    height: max-content;
    padding-block: 2rem;
  }

  .container-about {
    width: 90%;
    padding-top: 0;
  }
  .container-about h2{
    
  }
  .container-about p {
    font-size: 1.2rem;
  }
}
