:root {
  /* light theme */
  --background-light-mode: #dddddd;
  /*rgb(221, 221, 221)*/
  --font-color-light-mode: #222831;
  /*rgb(34, 40, 49)*/
  --acccent-color-light-mode: #30475e;
  /*rgb(48, 71, 94)*/
  --acccent-2-color-light-mode: #f05454;
  /*rgb(240, 84, 84)*/

  /* dark theme */
  --background-dark-mode: #222831;
  --font-color-dark-mode: #dddddd;
  --acccent-color-dark-mode: #30475e;
  --acccent-2-color-dark-mode: #f05454;

  --linear-gradient-text: linear-gradient(to right, #30475e, #f05454);
  --box-shadow: rgb(34, 40, 49, 0.9) 0px 7px 29px 0px;
}

@import url('./global.css');
.container-contact {
  /* border: 5px solid red; */

  height: calc(100vh - 3.5rem);
  width: 100vw;

  font-size: 3rem;

  display: flex;
  flex-direction: column;
  align-items: center;

  position: relative;
}

.avatar-contact-me {
  transform: scale(0.4, 0.4);

  position: absolute;
  top: 5rem;

  z-index: 1;
}

.hr {
  width: 100vw;
  height: 0.5px;
  background-color: var(--font-color-light-mode);

  position: absolute;
  top: 13rem;
}

.thanks-note {
  position: absolute;
  top: 4rem;
}
.contact-me {
  font-size: 3rem;
  position: absolute;
  top: 17rem;
  font-weight: 500;
  text-shadow: 1px 1px 2px var(--font-color-light-mode);
}

form {
  /* border: 5px solid green; */

  position: absolute;
  top: 22rem;

  width: 40%;
  height: max-content;
  padding-block: 1rem;

  font-size: 1.1rem;
  font-weight: 500;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  row-gap: 1rem;
}

.container-name-email {
  display: flex;
  flex-direction: row;
  align-items: stretch;

  width: 100%;
}

.container-email,
.container-name {
  flex: 50%;

  display: flex;
  flex-direction: column;
  justify-content: flex-end;

  padding-right: 1rem;
}

.container-message {
  display: flex;
  flex-direction: column;
  padding-right: 1rem;

  width: 100%;
}

form input {
  height: 2.3rem;
  padding-inline: 5px;
}
form label {
  padding-bottom: 5px;
}
form span {
  color: red;
  margin-left: 3px;
}

form input,
form textarea {
  border: 1px solid var(--font-color-light-mode);
  border-radius: 5px;
  font-size: 1.2rem;
  color: var(--font-color-light-mode);
  resize: none;
  box-shadow: var(--box-shadow);
}

form button {
  height: 2rem;
  width: 10rem;
  font-size: 1.25rem;
  background-color: var(--acccent-color-light-mode);
  color: var(--font-color-dark-mode);
  border-radius: 5px;

  align-self: flex-start;
  margin-top: 5px;

  box-shadow: var(--box-shadow);

}
form button:hover {
  transform: scale(1.01, 1.01);
}
form button:active {
  background-color: var(--font-color-light-mode);
}

@media (max-width: 1300px) {
  .thanks-note {
    font-size: 2.5rem;
  }
}
@media (max-width: 1000px) {
  .thanks-note {
    font-size: 2rem;
  }
  form {
    width: 70%;
  }
}

@media (max-width: 800px) {
  .container-contact {
    height: 110vh;
  }

  .thanks-note {
    display: block;
    text-align: center;
  }
  .avatar-contact-me {
    top: 6rem;
  }

  .hr {
    top: 14rem;
  }

  form {
    width: max-content;
    align-items: center;
  }
  .container-name-email {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .container-email,
  .container-name {
    margin-block: 5px;
    padding-right: 0;
  }
  .container-message {
    padding-right: 0;
  }

  form input,
  form textarea {
    width: 80vw;
  }
}

@media (max-width: 600px) {
  form input,
  form textarea {
    width: 90vw;
  }
}

@media (max-width: 400px) {
  .thanks-note {
    display: block;
    text-align: center;
    font-size: 1.3rem;
  }
  .contact-me {
    font-size: 2rem;
  }
}
