@import url('./global.css');
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&display=swap');

/* .container-hero *{
  outline: 1px solid grey;
} */

/* .container-hero > div{
  background-color: blue;
  border: 1px solid red;
} */
.container-hero {
  /* border: 10px solid purple; */
  height: calc(100vh - 3.5rem);

  font-size: 2.5rem;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}

.hero-titles {
  position: absolute;
  top: 11rem;
  z-index: -2;

  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 8vh;
}

.name-heading {
  /* Order of the below code matters */
  background: var(--linear-gradient-text);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;

  font-family: 'Dancing Script';
  font-size: 4rem;
  font-weight: 900;

  animation: fadeInAnimation ease 3s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}

/* Animation Heading Name  */
@keyframes fadeInAnimation {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
/* Animation Heading Name End */

.title-heading {
  font-size: 2.2rem;
}

.avatar {
  position: absolute;
  bottom: 3rem;
  z-index: -1;
  animation: fadeInLeft 2s;
  animation-fill-mode: forwards;
}

/* Animation Heading Avatar */
@keyframes fadeInLeft {
  0% {
    opacity: 0.5;
    transform: translateX(100vh);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}
/* Animation Heading Avatar End */

.hero-background {
  background-color: var(--acccent-color-light-mode);
  width: 100vw;
  height: 9rem;

  position: absolute;
  bottom: 0px;
  z-index: -2;
}

@media (max-width: 700px) {
  .container-hero {
    z-index: -1;
    font-size: 2rem;
  }
  .hero-titles {
    top: 4rem;
  }
  .container-hero * {
    display: block;
    text-align: center;
  }
  .name-heading {
    display: block;
    text-align: center;
  }
  .avatar {
    margin-bottom: 0;
  }
}
