@import url('./global.css');

/* .flex-item {
  border: 5px solid black;
} */

*{
  text-decoration: none;
}
.container-navbar {

  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;

  position: sticky;
  top: 0;  
  z-index: 10;

  background: var(--acccent-color-light-mode);
  color: var(--font-color-dark-mode);
  width: 100%;
  height: 3.5rem;
  font-size: 1.4rem;
  font-weight: 600;

  box-shadow: 5px 1px 10px 0px rgba(0 0 0 / 30%);
  transition: transform 0.5s;
}

.burger-icon {
  display: none;
}

.container-navlinks,
.container-mobile-nav {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
}


.nav-link:hover {
  color: var(--acccent-2-color-light-mode);
  cursor: pointer;
}


/* Link animation hover  */
.nav-link {
  margin-inline:20px;
  display: inline-block;
  position: relative;
  color: var(--font-color-dark-mode);
}

.nav-link:after {
  content: '';
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: var(--acccent-2-color-light-mode);
  transform-origin: bottom right;
  transition: transform 0.25s ease-out;
}

.nav-link:hover:after {
  transform: scaleX(1);
  transform-origin: bottom left;
}
/* End */



/* //////////////////////////////////////////////////////////////////// */
@media (max-width: 700px) {
  #modal-navlinks,.container-mobile-nav {
    z-index: 10;   
    
  }

  .container-navlinks {
    display: none;
  }

  .burger-icon {
    display: inline;
  }

  .container-mobile-nav {    
    width: 100vw;
    padding-inline: 20px;    

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    font-size: 1.8rem;
  }

  .container-mobile-nav:hover {
    cursor: pointer;
  }

  #modal-navlinks {
    position: absolute;
    top: 3.5rem;
    width: 100vw;
    height: calc(100vh - 3.5rem);

    background-color: var(--acccent-color-light-mode);
    font-size: 1.8rem;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    row-gap: 4vh;
  }

  .container-navlinks div {
    /* outline: 1px solid black; */
    margin: 0;
    padding: 10px;
    align-self: stretch;
    text-align: center;
  }
}
