:root {
  /* light theme */
  --background-light-mode: #dddddd;
  --font-color-light-mode: #222831;
  --acccent-color-light-mode: #30475e;
  --acccent-2-color-light-mode: #f05454;

  /* dark theme */
  --background-dark-mode: #222831;
  --font-color-dark-mode: #dddddd;
  --acccent-color-dark-mode: #30475e;
  --acccent-2-color-dark-mode: #f05454;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Inter, system-ui, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
*::selection {
  background-color: var(--acccent-2-color-light-mode);
}

/* code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
} */

/* google sans, Inter, system-ui, sans-serif, -apple-system,
BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans',
'Droid Sans', 'Helvetica Neue', sans-serif; */
