:root {
  /* light theme */
  --background-light-mode: #dddddd;
  --font-color-light-mode: #222831;
  --acccent-color-light-mode: #30475e;
  --acccent-2-color-light-mode: #f05454;

  /* dark theme */
  --background-dark-mode: #222831;
  --font-color-dark-mode: #dddddd;
  --acccent-color-dark-mode: #30475e;
  --acccent-2-color-dark-mode: #f05454;
}

:root {
  font-family: Inter, system-ui, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  color: var(--font-color-light-mode);
  background: var(--background-light-mode);

  width: 100vw;
  height: max-content;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

*::selection {
  color: var(--font-color-dark-mode);
  background-color: var(--acccent-2-color-light-mode);
}

